<div class="row">
    <div class="col-bb5-30 bb5-border-right">
        <div class="bb5-extension-pane">
            <div class="row">
                <div class="col-bb5-40">
                    <figure class="bb5-extension-img"><img style="width:75px;" src="{{ bundle.thumbnail }}" alt=""></figure>
                </div>
                <div class="col-bb5-60">
                    <p><strong>{{ bundle.name }}</strong></p>
                    <div class="hidden form-group btn-group btn-group-justified activation-btn-group" data-bundle-id="{{ bundle.id }}">
                        <a class="btn btn-xs btn-default enable {% if bundle.enable %}active{% endif %}" role="button">{{ 'activate'|trans }}</a>
                        <a class="btn btn-xs btn-default disable {% if bundle.enable == false %}active{% endif %}" role="button">{{ 'deactivate'|trans }}</a>
                    </div>
                    {% if bundle.admin_entry_point%}
                        <div class="">
                        <a class="btn btn-primary btn-xs btn-bundle-admin" href="#/bundle/admin/{{ bundle.id }}">
                            {{ 'manage'|trans }}
                        </a>
                        </div>
                    {% endif %}
                    <p class="position-bottom">
                        <a class="btn btn-transparent btn-xs btn-toggle btn-dialog-extension" href="javascript:;">
                            <i class="fa fa-angle-down"></i>{{ 'see_my_extensions'|trans }}
                        </a>
                    </p>
                </div>
            </div>
        </div>
    </div><!--/ End col-->

    <div class="col-bb5-70 bb5-border-right">
        <div class="tab-pane  bb5-content-txt">
            <div class="bb5-scroll-overflow">
                <p>{{ bundle.description }}</p>
            </div>
        </div>
    </div><!--/ End col-->
</div>
