<div class="row">
    <div class="col-bb5-20 bb5-border-right align-middle">
        <p class="txt-center">
            <button type="button" id="toolbar-new-user-action"  class="btn btn-default-grey btn-sm">
                <i class="fa fa-user"></i> {{ 'create_user'|trans }}
            </button>
        </p>
    </div>
    <form class="col-bb5-80" id="bb-toolbar-user-search-form">
        <p>
            <strong>{{ 'user_filters'|trans }}</strong>
        </p>

        <p class="row form-group">
            <span class="col-bb5-10"><label for="bb-user-name">{{ 'name'|trans }}</label></span>
            <span class="col-bb5-30">
                <input type="text" class="form-control input-xs" id="bb-user-name" name="name">
            </span>
            <span class="col-bb5-10"><label for="bb-user-username">{{ 'username'|trans }}</label></span>
            <span class="col-bb5-30">
                <input type="text" id="bb-user-username" class="form-control input-xs" name="username">
            </span>
        </p>
        <p class="row form-group">
            <span class="col-bb5-10">
                <label for="bb-user-status">{{ 'status'|trans }}</label>
            </span>
            <span class="col-bb5-30">
                <select class="form-control input-xs" id="bb-user-status" name="activated">
                    <option value="all">{{ 'all'|trans }}</option>
                    <option value="1">{{ 'active'|trans }}</option>
                    <option value="0">{{ 'inactive'|trans }}</option>
                </select>
            </span>
            <span class="col-bb5-10"><label for="bb-user-email">{{ 'email'|trans }}</label></span>
            <span class="col-bb5-30">
                <input type="text" id="bb-user-email" class="form-control input-xs" name="email">
            </span>
            <span class="col-bb5-20">
                <button type="reset" id="bb-toolbar-user-reset-search-form" class="btn btn-default-grey btn-xs">{{ 'reset'|trans }}</button>
                <button type="submit" class="btn btn-default-grey btn-xs"><i class="fa fa-search"></i>{{ 'search'|trans }}</button>
            </span>
        </p>
    </form>
</div>
