{#{% if bb.token != null or image.path != '' %}#}
    <figure {{ this.bbcontent(null, {'class': 'figure'})|raw }}>
        {% if image.path == '' %}
            <p class="text-center helptip">{{ bb.translator.trans('media.image.helptip') }}</p>
        {% endif %}
        <img {{ this.bbcontent(image)|raw }}
            src="{{ 'media/' ~ image.path }}"
            alt="{{ title }}" style="width: 100%" itemprop="contentURL">
            <figcaption class="figure-caption" itemprop="description">
                {% if copyrights != '' %}<p class="figure-copyright">{{ copyrights }}</p>{% endif %}
                {% if description != '' %}<p>{{ description }}</p>{% endif %}
            </figcaption>
    </figure>
{#{% endif %}#}
