<article {{ this.bbcontent(null, {class: 'push-item content content-txt-img content-news content-highlight'})|raw }}>
    <a href="{{ url }}">
        {{ this.render(image, 'no-figcaption', {'class': 'figure block-fullwidth'})|raw }}
    </a>
    <div class="content-inner-pad">
        <h2 itemprop="headline">
            <a href="{{ url }}" {{ this.bbcontent(title)|raw }} >{{ title.value|raw }}</a>
        </h2>
            <p class="metadata-wrapper">
                <b class="metadata-tag">{{ tag }}</b>
                {% if signature != '' %}
                    <b class="metadata-author">By {{ signature|raw }}</b>
                {% endif %}
                <time class="time" itemprop="dateCreated">{{ this.getObject().getCreated()|date("Y-m-d") }}</time>
            </p>
        <p {{ this.bbcontent(abstract, {'class': 'chapo'})|raw }} itemprop="description">{{ abstract.value|raw }}</p>
    </div>
</article>