<div {{ this.bbcontent(null, {'class': 'box-wrapper box-focus'})|raw }}>
    <div class="content content-txt-img">
        <div class="content-header">
            <p {{ this.bbcontent(title, {'class': 'ttl'})|raw }}>{{ title.value|raw }}</p>
        </div>
        <div class="content-inner-pad">
            <p {{ this.bbcontent(text, {'class': 'ttl'})|raw }}>{{ text.value|raw }}</p>
        </div>
        <div class="content-footer">
            {#@todo gvf#}
            {#{% if link.url is not empty %}#}
                {#<p>#}
                    {#{% set title = link.title %}#}
                    {#{% if link.title is empty %}#}
                        {#{% set title = link.url %}#}
                    {#{% endif %}#}
                    {#<a href="{{ link.url }}" target="{{ link.target }}">{{ title }}</a>#}
                {#</p>#}
            {#{% endif %}#}
        </div>
    </div>
</div>