<div>
    <p>{{ 'remove_user_confirmation_message'|trans }} {{ user.firstname() }} {{ user.lastname() }}</p>

    <button class="btn btn-default" id="bb-user-cancel">{{ 'cancel'|trans }}</button>
    <button class="btn btn-primary" id="bb-user-validate">{{ 'validate'|trans }}</button>
</div>