{% set col1 = 'col-bb5-43' %}
{% set col2 = 'col-bb5-14' %}
{% set col3 = 'col-bb5-14' %}
{% set col4 = 'col-bb5-14' %}
{% set col5 = 'col-bb5-6' %}
{% set col6 = 'col-bb5-6' %}
{% set col7 = 'col-bb5-3' %}
<li class="bb5-list-data-item">
  <p class="{{ col7 }}">
    <input data-identifier="{{ page.uid }}" class="bb-page-manage-select-page" type="checkbox">
  </p>
  <p class="{{ col1 }} bb-page-manage-item-line">
    <label>{{ page.title }}</label>
  </p>
  <p class="{{ col2 }} bb-page-manage-item-line">
    {{ page.state }}
  </p>
  <p class="{{ col3 }} bb-page-manage-item-line">
    {{ page.layout_label }}
  </p>
  <p class="{{ col4 }} bb-page-manage-item-line">
    {{ page.modified }}
  </p>
  <p class="{{ col6 }}">
    <button type="button" class="btn btn-delete btn-default btn-sm"><i class="fa fa-trash-o"></i></button>
    <button type="button" data-href="{{ page.uri }}" class="btn btn-see btn-default btn-sm"><i class="fa fa-eye"></i></i></button>
  </p>
</li>