<label class="label">{{ element.getLabel() }}</label>
<button class="add_link" class="btn btn-default-grey btn-sm"><i class="fa fa-plus"></i> {{ trans('add_link') }}</button>
<div class="link_elements_wrapper">
    <ul class="linkselector_list">
        {% for item in items %}
            {{ item }}
        {% endfor %}
    </ul>
</div>
<input type="hidden" name="{{ element.getKey() }}"/>
<span class="form_error help-block {% if element.getError() == null %}hidden{% endif %}">{{ element.getError() }}</span>
