<label for="{{ element.getKey() }}" class="label">{{ element.getLabel() }}</label>
<input type="text"
       name="{{ element.getKey() }}"
       {% if element.isDisabled() %}disabled{% endif %}
       value="{{ element.getValue()|escapeQuote }}"
       placeholder="{{ element.getPlaceholder() }}"
       class="form-control"
       >
<span class="hidden updated"></span>
<span class="form_error help-block {% if element.getError() == null %}hidden{% endif %}">{{ element.getError() }}</span>
